<html>
    <head>
        <script src="/static/jquery.mobile-1.4.5.js" />
        <link rel="stylesheet" type="text/css" href="/static/jquery.mobile-1.4.5.css" />
        <script>
            
        
        </script>
    </head>
    <body>
        <div>
           <div id="loginForm" name="loginForm">
                <input type="text" name="username" />
                <input type="password" name="password" />
                <input type="button" value="LOGIN" />
           </div>
        </div>
    </body>
</html>